@charset "UTF-8";

body{
    background-color: rgb(224, 231, 208);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(105, 26, 26);
    background-color: darkgreen;
}
h2{
    color: rgb(81, 0, 0);
}
p{
    text-align: justify;
}