@charset "UTF-8";

/* Todas as demais mídias */

    /* Typical devices Breackpoints
    Pequenas telas: até 600px
    Celular: 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: acima de 1200px
    */

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/../imagens/back-print.jpg); /* Desnecessário */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }
    
    main > h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi elaborado pelo aluno Ives Figueiredo Pinto';
        text-decoration: overline;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    main {
        width: 60vw;
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* LAPTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    main {
        width: 75vw;
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 90vw;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}